PATH_add $(nix build --impure --expr "(import <df>).default.python.withPackages (ps: [ps.pip ps.pyparsing ps.hypothesis ps.pytest ps.pytest-cov ps.setuptools ps.ipython ps.pylint])" --no-link --print-out-paths)/bin
path_add PYTHONPATH $(pwd)/
